.work {
    font-family: sans-serif;
    color: $white;
    margin: 10px;
    width: 290px;
    height: 290px;
    float: left;
    &:hover {
      background: rgba(0,0,0,.8);
      h1 {
        display: block;
      }
    }
    img {
      z-index: -10;
      max-width: none;
    }
    h1 {
      font-size: 1em;
      line-height: 1.05em;
      text-align: center;
      margin: 0;
      display: none;
      top: 50%;
      padding-top: 135px;
    }
}
